*,
*::before
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: transparent;

}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background-color: #141414;
}
.logo {
    height: 40px;
}
/*link*/
.link__inner {
    display: flex;
    color: white;
}

.link-box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 18px;
}

.link-number {
    color: #acacac;
}
/*Header*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: url(../assets/pc-image.png) center no-repeat;
    background-size: 65vh;
}

.text__inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 6.5em;
}   

.intro-title {
    font-size: 26vh;
}
